[Desktop Entry]
Name=Next Meeting
Exec=cosmic-next-meeting
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=com.dangrover.next-meeting-app
Categories=COSMIC
Keywords=Meeting;Calendar;Schedule;Panel;Applet;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
